In [3]:
import pandas as pd
from io import StringIO
import logging
import geopandas as gpd

In [38]:
# NYC FIPS CODES TO CONSOLIDATE INTO NYC GEOGRAPHY
NYC_FIPS = ["36061", "36005", "36081", "36047", "36085"]

In [10]:
def clean_fips(fips):
    if pd.isnull(fips):
        return "-1"
    else:
        return ("00000" + str(int(fips)))[-5:]

In [51]:
TRI_STATE = ["09", "34", "36"]
NORTHEAST = ["25", "00", "33", "34", "36", "42", "50", "09", "23", "44"]

In [76]:
class Shapefile:
    def __init__(
        self, file_name: str, lat_col: str = "INTPTLAT", lng_col: str = "INTPTLON"
    ):
        shapefile = gpd.read_file(file_name)
        # convert lat and long to decimal
        shapefile.loc[:, "INTPTLAT"] = shapefile.INTPTLAT.apply(lambda x: float(x[1:]))
        shapefile.loc[:, "INTPTLON"] = shapefile.INTPTLON.apply(float)
        self.shapefile = shapefile
        self.file_name = file_name

    def continental_us(self):
        self.shapefile = self.shapefile.loc[
            (self.shapefile["INTPTLAT"] > 25)
            & (self.shapefile["INTPTLON"] < 0)
            & (self.shapefile["INTPTLON"] > -130)
        ]
        return self.shapefile

    def filter_geography(self, state_fp_list):
        return self.shapefile.loc[self.shapefile.STATEFP.isin(state_fp_list)]

In [77]:
class CountyShapefile(Shapefile):
    def __init__(self, file_name):
        super().__init__(file_name)
        self.shapefile.loc[:, "fips"] = self.shapefile.GEOID.apply(
            lambda x: "00000" if x in NYC_FIPS else x
        )

        # MAKE NYC into a single geography
        self.shapefile = self.shapefile.dissolve(by="fips")

        self.shapefile.reset_index(inplace=True)

In [79]:
class PopulationData:
    def __init__(
        self,
        path: str = "https://www.ers.usda.gov/webdocs/DataFiles/48747/PopulationEstimates.csv?v=3011.3",
    ):
        self.df = pd.read_csv(path, encoding="cp1251",)

        # FILTER OUT STATES AND US POPULATIONS
        self.df = self.df.loc[self.df["Rural-urban_Continuum Code_2003"].notnull()]

        # CONVIRT FIPS INTS TO 5-DIGIT CODES
        self.df.loc[:, "FIPS"] = self.df.loc[:, "FIPS"].apply(clean_fips)
        self.df.rename(columns={"FIPS": "fips"}, inplace=True)
        self.df.loc[:, "fips"] = self.df.fips.apply(
            lambda x: "00000" if x in NYC_FIPS else x
        )

        self.df = self.df.loc[:, ["POP_ESTIMATE_2018", "fips"]].copy()
        self.df.loc[:, "POP_ESTIMATE_2018"] = self.df["POP_ESTIMATE_2018"].apply(
            lambda x: int(x.replace(",", ""))
        )
        # MAKE NYC GEOGRAPHY a total of 8million plus
        self.df = self.df.groupby("fips").sum().reset_index()

In [ ]:
shapefiles = {
    "tristate": [
        CountyShapeFiles().filt
        state_shapefile.loc[state_shapefile.STATEFP.isin(TRI_STATE)],
    ],
    "us": [shapefile, state_shapefile],
    "northeast": [
        shapefile.loc[shapefile.STATEFP.isin(NORTH_EAST)],
        state_shapefile.loc[state_shapefile.STATEFP.isin(NORTH_EAST)],
    ],
}

In [58]:
StateShapeFile().filter_geography(state_fp_list=NORTH_EAST)

,REGION,DIVISION,STATEFP,STATENS,GEOID,STUSPS,NAME,LSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
5,1,1,44,01219835,44,RI,Rhode Island,00,G4000,A,2677787140,1323663210,41.597419,-71.527272,"MULTIPOLYGON (((-71.78970 41.72520, -71.78971 ..."
7,1,1,33,01779794,33,NH,New Hampshire,00,G4000,A,23189198255,1026903434,43.672691,-71.584315,"POLYGON ((-72.32990 43.60021, -72.32984 43.600..."
9,1,1,50,01779802,50,VT,Vermont,00,G4000,A,23874197924,1030383955,44.068577,-72.669184,"POLYGON ((-73.31328 44.26413, -73.31274 44.265..."
10,1,1,09,01779780,09,CT,Connecticut,00,G4000,A,12542497381,1815617293,41.579864,-72.746657,"POLYGON ((-73.51808 41.66672, -73.51807 41.666..."
14,1,2,34,01779795,34,NJ,New Jersey,00,G4000,A,19048848841,3543837357,40.107274,-74.665201,"POLYGON ((-75.18960 40.59178, -75.18977 40.592..."
18,1,2,42,01779798,42,PA,Pennsylvania,00,G4000,A,115880457407,3398574954,40.904601,-77.827530,"POLYGON ((-80.51935 41.84956, -80.51938 41.850..."
37,1,1,23,01779787,23,ME,Maine,00,G4000,A,79887659040,11745717739,45.409284,-68.666616,"POLYGON ((-70.98912 43.79211, -70.98913 43.792..."
38,1,2,36,01779796,36,NY,New York,00,G4000,A,122050000805,19246143659,42.913397,-75.596272,"MULTIPOLYGON (((-79.31214 42.68680, -79.24977 ..."
51,1,1,25,00606926,25,MA,Massachusetts,00,G4000,A,20204387828,7130663019,42.156520,-71.489592,"POLYGON ((-71.49826 42.01727, -71.49907 42.017..."

In [34]:
class Covid:
    def __init__(
        self,
        path: str = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv",
    ):
        logging.info("Downloading")
        self.df = pd.read_csv(path)

        self.df.loc[:, "fips"] = self.df["fips"].apply(clean_fips)
        self.df.loc[self.df["county"] == "New York City", "fips"] = "00000"

    def merge_population(self):

        self.df = self.df.merge(PopulationData().df, how="left", on="fips")
        self.df.loc[:, "cases_per_100000"] = (
            self.df.cases / self.df.POP_ESTIMATE_2018 * 100000
        )
        self.df.loc[:, "deaths_per_100000"] = (
            self.df.deaths / self.df.POP_ESTIMATE_2018 * 100000
        )

        return self.df

In [62]:
Covid().merge_population()

,date,county,state,fips,cases,deaths,POP_ESTIMATE_2018,cases_per_100000,deaths_per_100000
0,2020-01-21,Snohomish,Washington,53061,1,0,814901.0,0.122714,0.000000
1,2020-01-22,Snohomish,Washington,53061,1,0,814901.0,0.122714,0.000000
2,2020-01-23,Snohomish,Washington,53061,1,0,814901.0,0.122714,0.000000
3,2020-01-24,Cook,Illinois,17031,1,0,5180493.0,0.019303,0.000000
4,2020-01-24,Snohomish,Washington,53061,1,0,814901.0,0.122714,0.000000
5,2020-01-25,Orange,California,06059,1,0,3185968.0,0.031388,0.000000
6,2020-01-25,Cook,Illinois,17031,1,0,5180493.0,0.019303,0.000000
7,2020-01-25,Snohomish,Washington,53061,1,0,814901.0,0.122714,0.000000
8,2020-01-26,Maricopa,Arizona,04013,1,0,4410824.0,0.022672,0.000000
9,2020-01-26,Los Angeles,California,06037,1,0,10105518.0,0.009896,0.000000
10,2020-01-26,Orange,California,06059,1,0,3185968.0,0.031388,0.000000
11,2020-01-26,Cook,Illinois,17031,1,0,5180493.0,0.019303,0.000000
12,2020-01-26,Snohomish,Washington,53061,1,0,814901.0,0.122714,0.000000
13,2020-01-27,Maricopa,Arizona,04013,1,0,4410824.0,0.022672,0.000000
14,2020-01-27,Los Angeles,California,06037,1,0,10105518.0,0.009896,0.000000
15,2020-01-27,Orange,California,06059,1,0,3185968.0,0.031388,0.000000
16,2020-01-27,Cook,Illinois,17031,1,0,5180493.0,0.019303,0.000000
17,2020-01-27,Snohomish,Washington,53061,1,0,814901.0,0.122714,0.000000
18,2020-01-28,Maricopa,Arizona,04013,1,0,4410824.0,0.022672,0.000000
19,2020-01-28,Los Angeles,California,06037,1,0,10105518.0,0.009896,0.000000
20,2020-01-28,Orange,California,06059,1,0,3185968.0,0.031388,0.000000
21,2020-01-28,Cook,Illinois,17031,1,0,5180493.0,0.019303,0.000000
22,2020-01-28,Snohomish,Washington,53061,1,0,814901.0,0.122714,0.000000
23,2020-01-29,Maricopa,Arizona,04013,1,0,4410824.0,0.022672,0.000000
24,2020-01-29,Los Angeles,California,06037,1,0,10105518.0,0.009896,0.000000
25,2020-01-29,Orange,California,06059,1,0,3185968.0,0.031388,0.000000
26,2020-01-29,Cook,Illinois,17031,1,0,5180493.0,0.019303,0.000000
27,2020-01-29,Snohomish,Washington,53061,1,0,814901.0,0.122714,0.000000
28,2020-01-30,Maricopa,Arizona,04013,1,0,4410824.0,0.022672,0.000000
29,2020-01-30,Los Angeles,California,06037,1,0,10105518.0,0.009896,0.000000
...,...,...,...,...,...,...,...,...,...
70188,2020-04-18,Vilas,Wisconsin,55125,4,0,21938.0,18.233203,0.000000
70189,2020-04-18,Walworth,Wisconsin,55127,89,4,103718.0,85.809599,3.856611
70190,2020-04-18,Washburn,Wisconsin,55129,1,0,15878.0,6.298022,0.000000
70191,2020-04-18,Washington,Wisconsin,55131,82,3,135693.0,60.430531,2.210873
70192,2020-04-18,Waukesha,Wisconsin,55133,259,11,403072.0,64.256510,2.729041
70193,2020-04-18,Waupaca,Wisconsin,55135,4,1,51128.0,7.823502,1.955875
70194,2020-04-18,Waushara,Wisconsin,55137,2,0,24263.0,8.243004,0.000000
70195,2020-04-18,Winnebago,Wisconsin,55139,38,1,171020.0,22.219623,0.584727
70196,2020-04-18,Wood,Wisconsin,55141,2,0,73055.0,2.737663,0.000000
70197,2020-04-18,Albany,Wyoming,56001,6,0,38601.0,15.543639,0.000000
70198,2020-04-18,Big Horn,Wyoming,56003,1,0,11881.0,8.416800,0.000000
70199,2020-04-18,Campbell,Wyoming,56005,13,0,46140.0,28.175119,0.000000
70200,2020-04-18,Carbon,Wyoming,56007,4,0,14971.0,26.718322,0.000000
70201,2020-04-18,Converse,Wyoming,56009,8,0,13640.0,58.651026,0.000000
70202,2020-04-18,Crook,Wyoming,56011,4,0,7450.0,53.691275,0.000000
70203,2020-04-18,Fremont,Wyoming,56013,47,0,39531.0,118.894033,0.000000
70204,2020-04-18,Goshen,Wyoming,56015,3,0,13376.0,22.428230,0.000000
70205,2020-04-18,Hot Springs,Wyoming,56017,2,0,4555.0,43.907794,0.000000
70206,2020-04-18,Johnson,Wyoming,56019,11,1,8460.0,130.023641,11.820331
70207,2020-04-18,Laramie,Wyoming,56021,70,1,98976.0,70.724216,1.010346
70208,2020-04-18,Lincoln,Wyoming,56023,5,0,19434.0,25.728105,0.000000
70209,2020-04-18,Natrona,Wyoming,56025,38,0,79115.0,48.031347,0.000000
70210,2020-04-18,Niobrara,Wyoming,56027,1,0,2388.0,41.876047,0.000000
70211,2020-04-18,Park,Wyoming,56029,1,0,29324.0,3.410176,0.000000
70212,2020-04-18,Sheridan,Wyoming,56033,12,0,30233.0,39.691728,0.000000
70213,2020-04-18,Sublette,Wyoming,56035,1,0,9813.0,10.190564,0.000000
70214,2020-04-18,Sweetwater,Wyoming,56037,10,0,43051.0,23.228264,0.000000
70215,2020-04-18,Teton,Wyoming,56039,62,0,23081.0,268.619211,0.000000
70216,2020-04-18,Uinta,Wyoming,56041,6,0,20299.0,29.558106,0.000000
70217,2020-04-18,Washakie,Wyoming,56043,4,0,7885.0,50.729233,0.000000

In [ ]:
TRI_STATE = ["09", "34", "36"]
NORTH_EAST = ["25", "00", "33", "34", "36", "42", "50", "09", "23", "44"]

shapefiles = {
    "tristate": [
        shapefile.loc[shapefile.STATEFP.isin(TRI_STATE)],
        state_shapefile.loc[state_shapefile.STATEFP.isin(TRI_STATE)],
    ],
    "us": [shapefile, state_shapefile],
    "northeast": [
        shapefile.loc[shapefile.STATEFP.isin(NORTH_EAST)],
        state_shapefile.loc[state_shapefile.STATEFP.isin(NORTH_EAST)],
    ],
}

In [25]:
df = Covid().merge_population()

In [24]:
df

             date      county       state   fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061      1       0
1      2020-01-22   Snohomish  Washington  53061      1       0
2      2020-01-23   Snohomish  Washington  53061      1       0
3      2020-01-24        Cook    Illinois  17031      1       0
4      2020-01-24   Snohomish  Washington  53061      1       0
...           ...         ...         ...    ...    ...     ...
67451  2020-04-17    Sublette     Wyoming  56035      1       0
67452  2020-04-17  Sweetwater     Wyoming  56037     10       0
67453  2020-04-17       Teton     Wyoming  56039     61       0
67454  2020-04-17       Uinta     Wyoming  56041      6       0
67455  2020-04-17    Washakie     Wyoming  56043      4       0

[67456 rows x 6 columns]

In [18]:
class Data:
    def trade_df(self):
        # This method should handle the import of source data
        data = StringIO()

        s = """
        Account|Stock_Code|BuySell|Date|Quantity|Unit_Price
        1001|001|B|20190105|8|2
        1001|002|B|20190105|4|3
        1001|002|S|20190106|3|1
        1001|003|B|20190106|6|5
        1001|003|S|20190106|4|6
        1001|001|S|20190107|6|3
        1002|001|B|20190105|6|2
        1002|002|B|20190105|8|3
        1002|002|S|20190106|3|1
        1002|003|B|20190106|5|5
        1002|003|S|20190106|4|6
        1002|001|S|20190107|6|3
        """

        data.write(s.replace(" ", ""))
        data.seek(0)
        df = pd.read_csv(
            data,
            sep="|",
            dtype={"Account": str, "Date": str, "Stock_Code": str, "Date": str},
        )
        df.Date = pd.to_datetime(df.Date, format="%Y%m%d")
        return df

    def account_df(self):
        data = StringIO()

        s = """
        Account|Name
        1001|David
        1002|Tom
        """

        data.write(s.replace(" ", ""))
        data.seek(0)
        df = pd.read_csv(data, sep="|", dtype={"Account": str, "Name": str})
        return df

    def stock_prices(self):

        data = StringIO()

        s = """
        Stock_Code|Closing_Price|Date
        001|2|20190105
        001|3|20190106
        001|2|20190107
        002|2|20190105
        002|3|20190106
        002|5|20190107
        003|5|20190105
        003|6|20190106
        003|7|20190107
        """

        data.write(s.replace(" ", ""))
        data.seek(0)
        df = pd.read_csv(data, sep="|", dtype={"Stock_Code": str, "Date": str})
        df.Date = pd.to_datetime(df.Date, format="%Y%m%d")
        return df

In [19]:
class Book:
    def __init__(self):
        self._data = Data()

    @property
    def trade_book_df(self):
        if not hasattr(self, "_trade_book_df"):
            df = self._data.trade_df().join(
                self._data.account_df().set_index("Account"), on="Account"
            )
            df["Trade_Amount"] = df.Quantity * df.Unit_Price
            self._trade_book_df = df
        return self._trade_book_df

    def stock_prices(self, date=None):
        df = self._data.stock_prices()
        if date:
            df = df[df.Date == date]
        return df

    @property
    def holdings(self):
        return Holdings(self)

    @property
    def accounts(self):
        return Accounts(self.holdings)


Book().trade_book_df

,Account,Stock_Code,BuySell,Date,Quantity,Unit_Price,Name,Trade_Amount
0,1001,001,B,2019-01-05,8,2,David,16
1,1001,002,B,2019-01-05,4,3,David,12
2,1001,002,S,2019-01-06,3,1,David,3
3,1001,003,B,2019-01-06,6,5,David,30
4,1001,003,S,2019-01-06,4,6,David,24
5,1001,001,S,2019-01-07,6,3,David,18
6,1002,001,B,2019-01-05,6,2,Tom,12
7,1002,002,B,2019-01-05,8,3,Tom,24
8,1002,002,S,2019-01-06,3,1,Tom,3
9,1002,003,B,2019-01-06,5,5,Tom,25
10,1002,003,S,2019-01-06,4,6,Tom,24
11,1002,001,S,2019-01-07,6,3,Tom,18

In [22]:
class Holdings:
    def __init__(self, book):
        self._book = book

    def holdings_of(self, date):
        trades_df = self._book.trade_book_df
        date_hld_df = trades_df[trades_df.Date <= date]
        date_hld_df["qnt_change"] = (
            date_hld_df["BuySell"].map({"B": 1, "S": -1}) * date_hld_df.Quantity
        )
        hld_df = (
            date_hld_df.groupby(["Account", "Stock_Code"], as_index=False)
            .agg({"qnt_change": sum})
            .rename(columns={"qnt_change": "Holdings"})
        )
        hld_df = hld_df.join(
            self._book.stock_prices(date).set_index("Stock_Code"), on="Stock_Code"
        )
        hld_df["Market_Value"] = hld_df.Closing_Price * hld_df.Holdings
        return hld_df


from datetime import date

Book().holdings.holdings_of(date(2019, 1, 6))

/Users/nate/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  import sys
/Users/nate/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/nate/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:16: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and 'the values will not compare equal to the
'datetime.date'. To retain the current behavior, convert the
'datetime.date' to a datetime with 'pd.Timestamp'.
  app.launch_new_instance()

  Account Stock_Code  Holdings  Closing_Price       Date  Market_Value
0    1001        001         8              3 2019-01-06            24
1    1001        002         1              3 2019-01-06             3
2    1001        003         2              6 2019-01-06            12
3    1002        001         6              3 2019-01-06            18
4    1002        002         5              3 2019-01-06            15
5    1002        003         1              6 2019-01-06             6